@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
fieldset{
  border-style: double;
 text-align: center;
 width: fit-content;
 border-color: #05386b;
 border-width: 5px;
 margin: auto;
 margin-bottom: 10%;
 margin-top: 30px;
}
fieldset legend {
  
    font-size: 30px;
    color: #05386b;
  }
  fieldset p {
    color: #05386b;
    font-size: 30px;
    padding: 5px;
  }
  .flex {
      display: flex;
      width: 80%;
      margin: auto;
      height: fit-content;
      margin-bottom: 100px;
  }
  .div1 {
      background-color: #81bbf5; 
      width: 33%;
  }
  .div2 {
      background-color: #3a9afa;
      width:33%;
  }
  .div3 {
      background-color:#2e91f4;
      width:33%;
  }
  .flex h1{
      margin: 25px;
  }
  .flex a {
      border-radius: 3px;
      
      color: #edf5e1;
  }
  .flex p {
      margin: 25px;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
  }
  @media (max-width: 1180px) {
      .flex p {
          font-size: 17px;
          margin: 15px;
      }
  }
  @media (max-width: 955px) {
      .flex h1{
          font-size: 25px;
          margin: 15px;
      }
  }
  @media (max-width: 720px){
      .flex {
          flex-direction: column;
      }
      .div1 {
          width: 100%;
      }
      .div2 {
          width: 100%;
      }
      .div3 {
          width: 100%;
      }
      fieldset p {
          font-size: 20px;
      }
      fieldset legend {
          font-size: 20px;
      }
  }
 