@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); /* Importing font */
fieldset{
  /* Editing fieldset , changing size , text placement, border color */
  border-style: double;
 width: fit-content;
 border-color: #05386b;
 border-width: 5px;
 margin: auto;
 margin-bottom: 10%;
 margin-top: 30px;
}
fieldset legend {
  /* editing the text that stand over the border, changing its size and color */
    font-size: 30px;
    color: #05386b;
  }
  fieldset p {
    /* editing the text inside the fieldset, changing its size and color */
    color: #05386b;
    font-size: 30px;
    padding: 5px;
  }
  .flex {
    /* creating a class, every element that has this tag will display horizontally */
      display: flex;
      width: 80%;
      margin: auto;
      height: fit-content; 
      margin-bottom: 100px;
  }
/* Creating three classess, which is essentially the same but with different color, these are for three-column layout */
  .div1 {
      background-color: #81bbf5; 
      width: 33%;
  }
  .div2 {
      background-color: #3a9afa;
      width:33%;
  }
  .div3 {
      background-color:#2e91f4;
      width:33%;
  }
/* editing the title, link, normal text inside the flex class */
  .flex h1{
      margin: 25px;
  }
  .flex a {
      border-radius: 3px;
      
      color: #edf5e1;
  }
  .flex p {
      margin: 25px;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
  }
  .choice {
   font-size: 20px;
   color: #05386b;
  }
  .submit {
      margin: 10px;
      
  }
/* reponsive design */
  @media (max-width: 1180px) {
      .flex p {
          font-size: 17px;
          margin: 15px;
      }
  }
  @media (max-width: 955px) {
      .flex h1{
          font-size: 25px;
          margin: 15px;
      }
  }
  @media (max-width: 720px){
      .flex {
        /* the class flex will now display vertically instead */
          flex-direction: column;
      }
      .div1 {
          width: 100%;
      }
      .div2 {
          width: 100%;
      }
      .div3 {
          width: 100%;
      }
      fieldset p {
          font-size: 20px;
      }
      fieldset legend {
          font-size: 20px;
      }
  }
 
