@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.borderbox {
    /* creating a border,changing the color inside the border*/
    border: 1px rgba(135, 253, 99, 0.863) ridge ;
    margin: 5%;
    background-color: #5cdb95;
}
.borderbox img{
    /* Center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 400px;
   
}
/* editing the tile and normal text */
h3 {
 
    margin: 40px;
    color: #011c38;
}
.borderbox p {
    color: #05386b;
    margin: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    
    margin: 40px;
    color: #011c38;
}
.borderbox h2 {
    margin: 20px;
    color: #05386b;
}
/* editing the table */
table, th, td{
    border:1px solid black;
    border-collapse: collapse;
}
table {
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
tr:nth-child(odd) { 
    background-color: #05386b;
    color: #edf5e1;
}
tr:nth-child(even) {
    background-color: #edf5e1;
    color: #05386b;
}

th {
    padding: 20px;
}
/* reponsive design */
@media (max-width: 858px) { 
    .borderbox img {
        height: 300px;
    }
   .borderbox p {
        font-size: 17px;
    }
}
@media  (max-width: 688px){
    .borderbox img {
        height: 200px;
    }
    .borderbox p {
        font-size: 14px;
    }
    tr{
        font-size: 13px;
    }
}


