@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.borderbox {
    border: 1px rgba(135, 253, 99, 0.863) ridge ;
    margin: 5%;
    background-color: #5cdb95;
}
.borderbox img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
    margin-top: -20px;
}
h3 {
 
    margin: 40px;
    color: #011c38;
}
p {
    color: #05386b;
    margin: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    
    margin: 40px;
    color: #011c38;
}
h2 {
    margin: 20px;
    color: #05386b;
}
table, th, td{
    border:1px solid black;
    border-collapse: collapse;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
