@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.grid-container {
    background-color: #5cdb95;
    grid-template-columns: 50% 50%;
    display: grid;
    grid-template-rows: 500px 500px;
    width: 100%;
}

.grid.container div {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.title1 {
    color: #05386b;
    margin-left: 25%;
    margin-top: 10%;
}

.text1 {
    color: #05386b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 100px;
    margin-top: 5%;
}
.title2 {
    color: #05386b;
    margin-left: 15%;
    margin-top: 10%;
}
.text2 {
    color: #05386b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 25%;
    margin-left: 15%;
    margin-top: 5%;
}
audio {
    margin-left: 15%;
}
@media (max-width: 880px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 500px 500px 500px 500px;
    }
    .div1 {
        margin-top: 500px;
    }
    .img1{
        margin-top: -500px;
    }
}
@media  (max-width: 688px){
  .grid-container{
      grid-template-rows: 400px 400px 400px 400px;
  }
  .div1 {
    margin-top: 400px;
}
.img1{
    margin-top: -400px;
}
.grid-container p {
    font-size: 17px;
}
.grid-container h1 {
    font-size: 25px;
}
}